<%- include('../partials/html-head')%>   
</head>
<body>
  <%- include('../partials/nav') %>
    <div class="joke-list">
      <h1 style="text-decoration:underline;">Joke List</h1>
      <ul class="ul-joke"> 
        <%let i = 1%>
      <%jokes.forEach(joke => {%>
       <li class="'li-joke">
          <a href="jokes/<%=joke._id%>"><%= `${i++}. ${joke.title}`%></a>
       </li>
      <%})%>
      </ul>
    </div>
  <%-include('../partials/footer.ejs')%>