<%- include('../partials/html-head') %>
</head>
<body class="show-joke-page">
  <%- include('../partials/nav') %>
  <div class="show-joke-div">
    <div class="joke-container">
        <h1 class="joke-title"><%=joke.title%></h1>
        <p class="joke-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=joke.text%></p>
      <%if (profile._id.equals(joke.authorObj._id)) {%>
        <div class="edit-block">      
          <form class="joke-edit-form" action="/jokes/<%=joke._id%>/edit" method="GET">
          <button type="submit" class="btn btn-secondary">edit</button>
          </form>
        </div>
        <div class="delete-block">
          <form class="joke-delete-form" action="/jokes/<%=joke._id%>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-secondary">delete</button>
          </form>
        </div>
      <%}%>
    </div>
      <hr>
      <form action="/jokes/<%=joke._id%>/comments" method="POST">
        <label for="text"> 
          <br>
          <h1>Add Comment</h1>
          <br>
          <textarea name="text" id="new-comment-text" cols="50" rows="1" placeholder="new comment..."></textarea>
        </label>
      <br>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
    <hr>
    <br>
    <div class="comment-div">
      <h1 style="text-align:center;">Comments:</h1>
      <%joke.comments.forEach((comment,idx) => {%>
        <div class="individual-comment-div">
          <p class="comment-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=comment.text%></p>
          <% if (comment.author) { %>
            <p class="comment-author">-By: <%=comment.author%></p>
          <% } else {%>
            <p class="comment-author">-By: Anonymous</p>
            <% }%>
          <% if (comment && comment.authorProfile && profile._id.equals(comment.authorProfile)) {%>
            <div class="commment-forms">
              <form id="edit-comment-form-<%-idx%>" action="/jokes/<%=joke._id%>/comments/<%=comment._id%>" method="GET" style="display:inline">
                <a href="#" onclick="document.getElementById('edit-comment-form-<%-idx%>').submit()">edit</a>
              </form>

              <form id="delete-comment-form-<%-idx%>" action="/jokes/<%=joke._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST" style="display:inline">
                <a href="#" onclick="document.getElementById('delete-comment-form-<%-idx%>').submit()">delete</a>
              </form>
            </div>
          <%}%>    
        </div>
  
    <%})%>
    </div>
  </div>
<%-include('../partials/footer.ejs')%>