<%- include('../partials/html-head') %>
</head>
<body>
  <%- include('../partials/nav') %>
  <form action="/jokes/<%=joke._id%>/edit" method="GET">
    <button>edit</button>
  </form>

  <form action="/jokes/<%=joke._id%>?_method=DELETE" method="POST">
    <button>delete</button>
  </form>
  Title: <%=joke.title%>
  <br>
  Text: <%=joke.text%>
  <br>
  <br>
  <form action="/jokes/<%=joke._id%>/comments" method="POST">
    <label for="text"> Add Comment
      <br>
      <textarea name="text" id="new-comment-text" cols="50" rows="1" placeholder="new comment..."></textarea>
    </label>
    <br>
  <button type="submit">Submit</button>
</form>
  <br>
  Comments:
  <ul>
  <%joke.comments.forEach(comment => {%>
    <li>
      <%=comment.text%>
      <form id="edit-comment-form" action="/jokes/<%=joke._id%>/comments/<%=comment._id%>" method="GET" style="display:inline">
        <a href="#" onclick="document.getElementById('edit-comment-form').submit()">edit</a>
      </form>

      <form id="delete-comment-form" action="/jokes/<%=joke._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST" style="display:inline">
        <a href="#" onclick="document.getElementById('delete-comment-form').submit()">delete</a>
      </form>
    </li>   
  <%})%>
  </ul>

  <%-include('../partials/footer.ejs')%>